*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(173, 227, 153);
    height: 100%;
    font-size: 100px;
}

.wrapper{
    margin: 30px auto;
    color: #fff;
    text-align: center;

}

#seconds, #tens{
    color: blue;
}

button{
    background-color: rgb(73, 27, 225);
    border: rgb(237, 8, 8);
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    padding: 1px 100px;

}

button:hover{
    transition: .3s;
    background: #fff;
    color:  rgb(73, 27, 225);
}